body{
    font-family: "Lucida Console", Monaco, monospace;
    background-image: url('../images/drive.jpeg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-size: 1536px 700px;
}
.title{
    margin: 200px -40px 0px 240px;
    width: 25%;
    display: inline-block;
    font-weight: bolder;
    text-shadow: black 2px 2px;
}
/* Calculation Form Starts */
.calc{
    margin-top: 150px;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 0;
    background-color: #772953;
    height: 200px;
    clear: float;
}

#hours{
    margin-top: 30px;
    margin-right: 10px;
    
}

.calc-title, .calc-subheader,.title{
    color: white;
}

.calc-btn{
margin-left: 25px;
}

/* Calculation Form Ends */

/* Application Form Starts */

form legend{
    font-size: 42px;
}

.apply{
    background-color: whitesmoke;
    border: solid 2px #772953;
    width: 18%;
    padding: 12px;
    margin-right: 100px;
    float: right;
    margin-top: 30px;
    box-shadow: whitesmoke;
    border-radius: 8px;
}

.firstname,.lastname,.email,.phone,.promo, .city{
    margin: 10px;
    padding: 5px;
}

/* Add Responsive Code */