@media only screen and (max-width: 600px) {
   .navbar {
    line-height: 50px;
}

.nav-item{
    border-top: 1px solid white;
}

.title, .reasons, .choose, .how-to, .experience{
    font-size: 24px;
    padding-top: 26px;
    padding-left: 14px;
    padding-right: 10px;
}

.subtitle{
    font-size: 16px;
    padding-top: 15px;
    margin-left: 40px;
    color: gray;
}

.card{
   padding: 10px;
   border: none;
   margin-top: 20px;
}

.card-img-top{
    border-radius: 5px;
}

.fa-arrow-right{
    float: right;
}

.btn-primary{
    width: 100%;
}

.reasons-why{
text-align: left;

}

.phone{
    width: 100%;
    height: auto;   
}

.carousel-text{
    width: 80% !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.showcase{
    padding: 20px;
}

.showcase-price{
    color: whitesmoke;
    padding-bottom: 35px;
    background-color: black;
    height: 12px;
    opacity: 0.6;
    border-radius: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.showcase img{
    border-radius: 16px;
   
}

.para{
    padding: 10px;
}

/* Office Spaces */

.office-space{
    background-color: #2a2e2c;
    line-height: 40px;
    padding: 10px;
}

.office-title{
    color: whitesmoke;
    font-size: 18px;
}

.offices{
    font-size: 14px;
}
a{
    color: gray;
}

footer{
    background-color: #2a2e2c;
    width: 100%;
    color: whitesmoke;
    padding: 20px 40px;
}

}